<div class="sidebar">
  <form id="name" action="">
    <b class="connect-message">Please Connect:</b>
    <input id="n" autocomplete="off" />
    <button>Connect</button>
  </form>
  <div class="members-box">
    <b class="connect-message">Current Users:</b>
    <ul id="members"></ul>
  </div>
  <div class="footer">
  <a class="about-button" href="#/about">
    About
  </a>
  </div>
</div>
<ul id="messages"></ul>
<form id="text" action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>